<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>BloodBank & Donor Management System Become A Donor</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://www.amafx.com/wp-content/themes/AMA-FX/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://www.amafx.com/wp-content/themes/AMA-FX/css/modern-business.css">


</head>

<body style="background-image: url('./images/banner1.jpg')">
    <%-include("header")-%>
    <div class="form">
        <a href="/users/logout" class="btn btn-primary" style="float: left;margin:1spx">Logout</a>
        <a href="/setting" class="btn btn-secondary" style="float: left;margin:1px">Settings</a>
        <a href="/" class="btn btn-primary" style="float:left;margin:1px"> Back To Home </a>
        <a href="/dashboard" class="btn btn-primary" style="float:left;margin:1px"> Back To user </a>
        <a href="/users/adminpost" class="btn btn-primary" style="float:left;margin:1px"> BlogPost </a>
        <div style="padding: 7% 24%;font-size: 48px;
     font-family: fantasy;">
            <div class="col-lg-12">
                <div class="col-lg-12 login-title">
                    <%-include("./partials/messages")-%>
                    <form action="/users/adminpost" method="post">
                        <div class="form-row">
                            <input type="text" id="blogTitle" name="blogTitle" class="form-control"
                                placeholder="Blog Title"
                                value="<%= typeof blogTitle != 'undefined' ? blogTitle : '' %>" />
                        </div>
                        <div class="form-row">
                            <textarea name="blog" id="blog" cols="30" class="form-control" rows="10"
                                placeholder="Write Your Blog Here"
                                value="<%= typeof blog != 'undefined' ? blog : '' %>"></textarea>
                        </div>
                        <div class="form-row">
                            <button type="submit" class="btn btn-outline-primary"
                                style="padding-left: 60px;padding-right: 60px;"> Post </button>
                            <a href="/users/user" class="btn btn-outline-primary">Go Back To Your Account</a>
                        </div>
                    </form>
                </div>

        </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://www.amafx.com/wp-content/themes/AMA-FX/vendor/jquery/jquery.js"></script>
    <script src="https://www.amafx.com/wp-content/themes/AMA-FX/vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>

</html>