<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>BloodBank & Donor Management System Become A Donor</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://www.amafx.com/wp-content/themes/AMA-FX/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://www.amafx.com/wp-content/themes/AMA-FX/css/modern-business.css">


</head>

<body style="background-image: url('./images/banner1.jpg')">
    <%-include("header")-%>
    <div class="form">
        <a href="/users/logout" class="btn btn-primary" style="float: left;margin:1spx">Logout</a>
        <a href="/setting" class="btn btn-secondary" style="float: left;margin:1px">Settings</a>
        <a href="/" class="btn btn-primary" style="float:left;margin:1px"> Back To Home </a>
        <form action="/delete" method="post">
            <input type="text" class="form-control" name="id" value="<%= user._id %>" hidden>
            <button type="submit" class="btn btn-danger" style="float: left;margin:1px"> Delete Account </button>
        </form>
         <div style="padding: 7% 24%;font-size: 48px;
     font-family: fantasy;">
             <h1 >Hi <%= user.name %></h1>
             <h1 >Welcome to BloodBank</h1>
             <h1 >Thanks for the part of  life saving.</h1>
 
         </div>
     </div>
    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://www.amafx.com/wp-content/themes/AMA-FX/vendor/jquery/jquery.js"></script>
    <script src="https://www.amafx.com/wp-content/themes/AMA-FX/vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>

</html>