
<nav class="navbar fixed-top navbar-expand-lg navbar-gray bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">BloodBank & Donor Management System</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/page">Why Become Donor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/weatherblog"> Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/become-donor">Become a Donor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact-us">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



