<!DOCTYPE html>
<h1 lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
       
  <!-- Bootstrap core CSS -->
  <link href="https://www.amafx.com/wp-content/themes/AMA-FX/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Custom styles for this template -->
  <link href="https://www.amafx.com/wp-content/themes/AMA-FX/css/modern-business.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link href="//bloodbank.live/home/css/responsive.css">
        <title>Setting</title>
    </head>

    <body class="form">
        <div style="margin: 3% 0%;">
            <div style="margin: 3% 0%;">
                <h3>User Details</h3>
                <h3> Name: <span style="color:red"><%= user.name %></span></h3>
                <h3> Email: <span style="color:red"><%= user.email %></span></h3>
            </div>
                <a href="/edit" class="btn btn-primary"> Edit </a>
                <a href="/dashboard" class="btn btn-primary"> Go back to user </a>
                <a href="/" class="btn btn-primary"> Back To Home </a>
            </form>
        </div>

       <!-- Bootstrap core JavaScript -->
  <script src="https://www.amafx.com/wp-content/themes/AMA-FX/vendor/jquery/jquery.js"></script>
  <script src="https://www.amafx.com/wp-content/themes/AMA-FX/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>

    </html>