<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>BloodBank & Donor Management System Become A Donor</title>

    <!-- Bootstrap core CSS -->
    <link href="https://www.amafx.com/wp-content/themes/AMA-FX/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="https://www.amafx.com/wp-content/themes/AMA-FX/css/modern-business.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <style>
        .errorWrap {
            padding: 10px;
            margin: 0 0 20px 0;
            background: #fff;
            border-left: 4px solid #dd3d36;
            -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
        }

        .succWrap {
            padding: 10px;
            margin: 0 0 20px 0;
            background: #fff;
            border-left: 4px solid #5cb85c;
            -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
        }
    </style>


</head>

<body style="background-image: url('./images/banner1.jpg')">
    <%-include("header")-%>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <% users.forEach(function(user){%>
        <h1 class="mt-4 mb-3" style="color: white;font-weight: bolder;"><%= user.name %><small style="float: right;font-weight: bolder;">ID: <%= user.id %> </small></h1>
            
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
                <form action="/logout?_method=DELETE" method="post" style="position: absolute;
    left: 74%;
    bottom: 80%;">
                    <button type="submit" class="btn btn-outline-danger"> Logout </button>
                </form>
            </li>
        </ol>

        <!-- Content Row -->
        <h1 class="mt-4 mb-3" style="color: white;font-weight: bolder;">Thanks for being a part of life saver!!!!!</h1>
        <% }) %>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <!-- Bootstrap core JavaScript -->
    <script src="https://www.amafx.com/wp-content/themes/AMA-FX/vendor/jquery/jquery.js"></script>
    <script src="https://www.amafx.com/wp-content/themes/AMA-FX/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>