<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
     @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  color: #333;
  font-size: 100%;
  line-height: 1.5;
}
body {
  background-image:url("image/banner.jpg");
  margin: 0;
  background-size: cover;
}
nav {
  --duration: .5s;
  --easing: ease-in-out;
  position: relative;
  width: 150px;
  height: auto;
  margin:0px;
  color:blue;
}
nav ol {
  list-style-type:square;
  margin: 0;
  text-decoration-line: inline;
  padding: 0;
  text-align: auto;
}
nav li {
  margin: -4px 0 0 0;

}
nav a {
  display: block;
  text-decoration: none;
  background-color:darkgrey;
  width: auto;
  transform-origin: 0 0;
  transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
  transition-delay: var(--delay-out);
  border-radius: 4px;
  padding: 1em 1.52em;
}
nav a:hover {
background-color: darkred;
}
nav .sub-menu a {
  font-size: .9em;
  color: #666666;
  border-left: 2em solid white;
  padding: .75em;
  background: linear-gradient(to right, #dddddd 2px, #ffffff 2px);
}
nav .sub-menu a:hover {
  background: linear-gradient(to right, #dddddd 2px, #efefef 2px);
}
nav header {
  font-weight: 600;
  display: block;
  text-decoration-line: none;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  transform-origin: 0 0;
  transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
  transition-delay: var(--delay-out);
  border-radius: 2px;
  padding: 1em 1.52em;
  color: darkred;
}
nav header span {
  border: none;
  background: transparent;
  font-size: 1.5em;
  padding: 0;
  cursor: pointer;
  line-height: 1;
  float: right;
  color: darkblue;
}
nav footer button {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  padding: calc(1em - 2px);
  width: 100%;
  transform-origin: 0 0;
  transition: transform var(--duration) var(--easing);
  transition-delay: calc(var(--duration) + (.1s * (var(--count) / 2)));
  cursor: pointer;
  outline: none;
  background: #cdcdcd;
  opacity: 0;
}
nav.closed a,
nav.closed header {
  transform: translateY(calc(var(--top) * -1)) scaleY(0.1) scaleX(0.2);
  transition-delay: var(--delay-in);
  color: transparent;
}
nav.closed footer button {
  transition-delay: 0s;
  transform: scaleY(0.7) scaleX(0.2);
}

    
    </style>
    

</head>
<body>
	<nav class="menu">
    <header>Menu <span>×</span></header>
    <ol>
    <li><a href="dashboard.ejs"><i class="fa fa-dashboard"></i> Dashboard</a></li>
     <li><a href="#"><i class="fa fa-files-o"></i> Blood Group</a>
      <li><a href="add-bloodgroup.ejs">Add Blood Group</a></li>
      <li><a href="manage-bloodgroup.ejs">Manage Blood Group</a></li>
      <li><a href="add-donor.ejs"><i class="fa fa-edit"></i> Add Donor</a></li>
      <li><a href="donor-list.ejs"><i class="fa fa-users"></i> Donor List</a></li>
      <li><a href="manage-conactusquery.ejs"><i class="fa fa-desktop"></i> Manage Conatctus Query</a></li>
      <li><a href="manage-pages.ejs"><i class="fa fa-files-o"></i> Manage Pages</a></li>
      <li><a href="update-contactinfo.ejs"><i class="fa fa-files-o"></i> Update Contact Info</a></li>
    </ol>
    <footer><button aria-label="Toggle Menu">Toggle</button></footer>
</nav> 
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>
    
   var $els = $('.menu a, .menu header');
var count = $els.length;
var grouplength = Math.ceil(count/3);
var groupNumber = 0;
var i = 1;
$('.menu').css('--count',count+'');
$els.each(function(j){
    if ( i > grouplength ) {
        groupNumber++;
        i=1;
    }
    $(this).attr('data-group',groupNumber);
    i++;
});

$('.menu footer button').on('click',function(e){
    e.preventDefault();
    $els.each(function(j){
        $(this).css('--top',$(this)[0].getBoundingClientRect().top + ($(this).attr('data-group') * -15) - 20);
        $(this).css('--delay-in',j*.1+'s');
        $(this).css('--delay-out',(count-j)*.1+'s');
    });
    $('.menu').toggleClass('closed');
    e.stopPropagation();
});

// run animation once at beginning for demo
setTimeout(function(){
    $('.menu footer button').click();
    setTimeout(function(){
        $('.menu footer button').click();
    }, (count * 100) + 500 );
}, 1000);
 
    
</script>
</body>
</html>